body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

::-webkit-scrollbar-track {
  background-color: rgb(224, 224, 224);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  background-color: rgba(245, 245, 245, 0.5);
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(34, 34, 34, 0.58);
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.home-page {
  .movie-genre {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-title {
    margin-bottom: 0px;
  }
}

.navbar {
  min-height: 80px;

  > li > a {
    font-size: 19px;
  }
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.img-fluid {
  width: 100%;
}
